@font-face {
    font-family: 'monterey';
    src: url('../fonts/ChicagoFLF.ttf');
}

body {
    margin: 0px;
    .pageContainer {
        display: flex;
        flex-direction: row;
        .sideBar {
            height: 100%;
            width: 250px;
            min-width: 250px;
            max-width: 250px;
            margin-right: 25px;
            background-color: #1B3F8B;
            color: white;
            font-family: 'monterey';
        }
        .databaseList,
        .collectionList,
        .actionArea, 
        .resultArea {
            padding: 8px;
            overflow: scroll;
        }
        .databaseList,
        .collectionList {
            height: 50%;
        }
        .actionArea, 
        .resultArea {
            height: 45%;
        }
        .pagination {
            height: 10%;
            display: flex; 
            justify-content: flex-end;
            .moreButton {
                height: 25px;
                opacity: 1.0;
                &.disabled {
                    opacity: 0.3;
                }
            }
        }
        .database,
        .collection {
            background-color: #1B3F8B;
            padding: 1px 5px;
            &:hover {
                background-color: rgba(139, 175, 223, 0.5);
            }
            &.clicked {
                background-color: rgba(139, 175, 223, 1);
            }
        }
        .column {
            display: flex; 
            flex-direction: column;
        }
        .mainContainer {
            width: 100%;
        }
        .actionArea {
            form {
                display: flex; 
                align-items: flex-start;
                padding-top: 25px;
                select, input {
                    margin: 0px 5px;
                }
                div {
                    margin-bottom: 12px; 
                    .fa {
                        border: none;
                        background: white;
                        &.fa-plus-circle {
                            color: green;
                        }
                        &.fa-times-circle {
                            color: red;
                        }
                        &.fa-caret-right,
                        &.fa-caret-down {
                            padding-right: 5px;
                        }
                    }
                    input[type="radio"] {
                        margin: 8px;
                    }
                }
            }  
        }
    }
}
