@font-face {
    font-family: 'metropolis-extra-light';
    src: url('../fonts/metropolis.extra-light.otf');
}
@font-face {
    font-family: 'metropolis-light';
    src: url('../fonts/metropolis.light.otf');
}
@font-face {
    font-family: 'metropolis-medium';
    src: url('../fonts/metropolis.medium.otf');
}

body {
    margin: 0px;
    .pageContainer {
        display: flex;
        flex-direction: row;
        background-color: rgba(139,175,223, 0.3);
        .sideBar {
            height: 100%;
            width: 250px;
            min-width: 250px;
            max-width: 250px;
            background-color: #1B3F8B;
            color: white;
            font-family: 'metropolis-extra-light';
        }
        .databaseList,
        .collectionList,
        .actionArea, 
        .resultArea {
            padding: 8px;
            overflow: scroll;
        }
        .databaseList,
        .collectionList {
            height: 50%;
        }
        .databaseList {
            margin-bottom: 6px;
        }
        .collectionList {
            h3 {
                display: inline;
            }
            button {
                border: none;
                background: none;
                color: white;
                &.fa-plus-circle {
                    margin-bottom: 18px;
                }
            }
        }
        .actionArea, 
        .resultArea {
            height: 45%;
        }
        .pagination {
            height: 6%;
            display: flex; 
            justify-content: space-between;
            align-items: center;
            padding: 0px 8px;
            .moreButton {
                height: 25px;
                opacity: 1.0;
                &.disabled {
                    opacity: 0.3;
                }
            }
        }
        .database,
        .collection {
            background-color: #1B3F8B;
            padding: 3px 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:hover {
                background-color: rgba(139, 175, 223, 0.5);
                .collectionRemove {
                    display: flex;
                }
            }
            &.clicked {
                background-color: rgba(139, 175, 223, 1);
            }
            .collectionRemove {
                display: none;
                background: none;
                border: none;
            }
        }
        .column {
            display: flex; 
            flex-direction: column;
        }
        .mainContainer {
            width: 100%;
            font-family: 'metropolis-light';
            margin: 0px 10px;
        }
        .actionArea {
            .fa-chevron-right,
            .fa-chevron-down {
                margin-right: 6px;
            }
            select {
                border-radius: 50%;
                &[name="operations"] {
                    font-size: 16px;
                }
            }
            form {
                display: flex; 
                align-items: flex-start;
                padding-top: 25px;
                select, input {
                    margin: 0px 5px;
                }
                div {
                    margin-bottom: 12px; 
                    .fa {
                        border: none;
                        background-color: transparent;
                        &.fa-plus-circle {
                            color: green;
                        }
                        &.fa-times {
                            color: red;
                        }
                        &.fa-caret-right,
                        &.fa-caret-down {
                            padding-right: 5px;
                        }
                    }
                    input[type="radio"] {
                        margin: 8px;
                    }
                }
                input[type="submit"] {
                    font-size: 16px;
                }
            }  
        }
    }
}
